
/* login widgets */
div#login-widget.login-widget {
  position: absolute;
  right: 1em;
  bottom: 0px;
  width: auto;
  height: 1.5em;
}

/* login widgets anchor*/
.login-widget a{
  display: inline-block;
}

/* login widgets paragraph */
.login-widget p{
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* general title div */
div#title.title {
  background-color: lightblue;
  align-items: center;
  position:fixed;
  top:0px;
  left:0px;
  height:calc(10% + 39px);
  width: 100%;
  transition: margin-left .3s;
  transition: width .3s;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

/* general title header */
.title h1{
  position: absolute;
  font-size: 2.5em;
  z-index: 1;
  top: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-top: 0.25em;
  padding-left: 0.25em;
}

/* SideBar settings */
/* The sidebar menu */
.SideBar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.3 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.SideBar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: gray;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.SideBar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.SideBar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Toolbar settings */
/* The Toolbar menu */
.ToolBar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* let it coordinate with the parent div.body */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background:rgba(255,255,255, 0.3); /* White with high transparency*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.3 second transition effect to slide in the sidebar */
}

/* The sidebar paragraphs*/
.ToolBar p {
  padding: 4px 4px 4px 4px;
  text-decoration: none;
  font-size: 1em;
  color: black;
  display: inline;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.ToolBar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* header4, used in the toolbar */
h4{
  margin-left: 1em
}
div.tool_bar_paint_tool {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  height:3em;
}
p.tool_bar_indicator {
  margin-block-start:0;
  margin-block-end: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  flex-grow: 4;
}

p.tool_bar_jump_prev {
  margin-block-start:0;
  margin-block-end: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  flex-grow: 0.5;
}

p.tool_bar_jump_next {
  margin-block-start:0;
  margin-block-end: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  flex-grow: 0.5;
}

/* The button used to open the sidebar */
.openbutton {
  position: absolute;
  bottom: 0;
  z-index: 1; /* always at the top */
  font-size: 15px;
  cursor: pointer;
  background-color: lightblue;
  color: white;
  float: left;
  padding: 10px 2em;
  border: none;
}

.openbutton:hover {
  position: absolute;
  z-index: 1;
  background-color: #444;
}

/* general body background */
div#body.body {
  position:absolute;
  left:0px;
  top: calc(10% + 39px);
  height: 85%;
  width: 100%;
  background-color: white;
  transition: margin-left .3s;
  transition: width .3s;
  display: flex;
  flex: 1 1 auto;
  flex-direction:column;
  justify-content: flex-start;
  padding-left: 1em;
}

/* OpenSeadragon specific div */
#openseadragon-div{
  width: 100%;
  height: 80%;
  position:fixed;
  top:20%;
  left:0px;
}

/* general titles */
h1{
  display: table-cell;
  color: white;
  text-align: left;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

/* general table settings */
table{
  top: 10%;
  margin-top: 2em;
  width: 80%;
  padding: 0;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  table-layout:auto;
}

td, th{
  text-align: left;
  padding: 0.5em;
  text-decoration: none;
}

input[type=text],
input[type=email],
input[type=password],
select, textarea, label {
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    margin: .4em;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: gray;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

select {
  width: 25%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.body a{
  text-decoration: none;
}
.body a:link{
  color:black;
}
.body a:visited{
  color: black;
}
.body a:hover{
  color: blue;
}
.body a:active{
  color: lightblue;
}
/* general li */
li{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  list-style: none;
}

/* The followings are cutomizing the annotorious' looking */
svg.a9s-annotationlayer .a9s-selection .a9s-outer,
svg.a9s-annotationlayer .a9s-annotation .a9s-outer {
  stroke-width:2;
  stroke-opacity:75%;
}

svg.a9s-annotationlayer .a9s-handle .a9s-handle-outer {
}

/** New style for the annotation outlines **/
svg.a9s-annotationlayer .a9s-selection .a9s-inner,
svg.a9s-annotationlayer .a9s-annotation .a9s-inner  {
  stroke-width:2;
  stroke-opacity:75%;
  fill-opacity:50%;
}

/** Disable the hover effect from the default stylesheet **/
svg.a9s-annotationlayer .a9s-annotation.editable:hover .a9s-inner {
  fill:transparent;
}

/** Corner handles **/
svg.a9s-annotationlayer .a9s-handle .a9s-handle-inner {
  fill:white;
  stroke:white;
}

/** Enable the dim mask, black with 60% transparency **/
svg.a9s-annotationlayer .a9s-selection-mask {
  fill:rgba(0, 0, 0, 0.6);
}
