{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Imageview: {{image.image_name}} - AAAP</title>
    <link rel="stylesheet" type="text/css" href="{% static 'annotations/style.css' %}">
  </head>
  <body>
    <div class='title'>
      <h1>Imageview: {{image.image_name}}</h1>
      <a class='return' href="{% url 'annotations:imagelist' %}">Return to image list</a>
    </div>
    <div></div>
    <!-- the div openseadragon1 will take over the whole page -->
    <div id="openseadragon-div"></div>
    <script src="{% static 'annotations/openseadragon/openseadragon.js' %}"></script>
    <script type="text/javascript">
        var viewer = OpenSeadragon({
            id: "openseadragon-div",
            prefixUrl: "{% static 'annotations/openseadragon/images/' %}",
            //this tileSources is only for debugging mode -- to be corrected
            tileSources:[ "{{file_path}}{{image.dzi_path}}"]
        });
    </script>
  </body>
</html>
