{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Imageview: {{image.image_name}} - AAAP</title>
    <!-- website css -->
    <link rel="stylesheet" type="text/css" href="{% static 'annotations/style.css' %}">
    <!-- OpenSeaDragon Annotorious css -->
    <link rel="stylesheet" href="{% static 'annotations/annotorious.min.css' %}">
    <!-- OpenSeaDragon -->
    <script src="{% static 'annotations/openseadragon/openseadragon.min.js' %}"></script>
    <!-- OpenSeaDragon Annotorious JS -->
    <script src="{% static 'annotations/openseadragon-annotorious.min.js' %}"></script>
    <!-- Annotorious Toolbar Plugin -->
    <script src="{% static 'annotations/annotorious-toolbar.min.js' %}"></script>
    <!-- Annotorious Better Polygon Plugin -->
    <script src="{% static 'annotations/annotorious-better-polygon.js'%}"></script>
    <!-- Annotorious Selector Pack plugin -->
    <script src="{% static 'annotations/annotorious-selector-pack.min.js'%}"></script>
    <!-- jQuery-->
    <script src="{% static 'annotations/jquery.min.js'%}"></script>
</head>


<body>
  <!-- A sidebar listing functionalities -->
  <div id="side_bar" class="SideBar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!-- Image List -->
    <a href="{% url 'annotations:image-list' %}">Image List</a>
    <!-- To be finished: User Profile -->
    <a href="#">Profile</a>
    <!-- Image uploading page -->
    <a href="{% url 'annotations:image-upload'%}">Upload Image</a>
    <!-- Contact Page -->
    <a href="{% url 'annotations:contact'%}">Contact</a>
  </div>

  <!-- the script for side bar menu -->
  <script type="text/javascript">
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
    document.getElementById("side_bar").style.width = "250px";
    document.getElementById("title").style.marginLeft = "250px";
    document.getElementById("title").style.width = "calc(100% - 250px)"
    document.getElementById("body").style.marginLeft = "250px";
    document.getElementById("body").style.width = "calc(100% - 250px)"
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
    document.getElementById("side_bar").style.width = "0";
    document.getElementById("title").style.marginLeft = "0";
    document.getElementById("title").style.width = "100%"
    document.getElementById("body").style.marginLeft = "0";
    document.getElementById("body").style.width = "100%"
    }
  </script>

  <div id='title' class='title'>
    <h1>Imageview: {{image_name}}</h1>
    <div id='login-widget' class='login-widget'>
    {% if user.is_authenticated %}
       <p>Welcome, {{ user.get_username }}.</p>
       <a href="{% url 'annotations:logout' %}">[logout]</a>
    {% else %}
      <p>Welcome, new user.</p>
      <a href="{% url 'annotations:login' %}" >[login]</a>
      <a href="{% url 'annotations:registration' %}" >[register]</a>
    {% endif %}
    </div>
    <button class="openbutton" onclick="openNav()">&#9776; Menu</button>
  <!-- this div is used for debugging, meanwhile tracking the mouse-->
  <div class="info" style="position: fixed; top: 0px; left:400px; width: 800px; height:200px">
      <div class="position"></div>
      <div class="zoom" style="margin-top: 1em;"></div>
  </div>
  </div>
  <div id='body' class='body', style = "top:15%">
  <div id="annotorious-toolbar"></div>
  <!-- the div openseadragon-div will take over the whole page -->
  <div id="openseadragon-div"></div>
  </div>

  <!-- scripts -->

  <script type="text/javascript">
      // For the coordinate display
      var positionEl = document.querySelectorAll('.info .position')[0];
      var zoomEl = document.querySelectorAll('.info .zoom')[0];

      // Main OpenSeaDragon viewer
      var viewer = OpenSeadragon({
          id: "openseadragon-div",
          showNavigator:  true,
          prefixUrl: "{% static 'annotations/openseadragon/images/' %}",
          //this tileSources is only for debugging mode -- to be corrected
          tileSources:[ "{{filepath}}{{image_path}}"]
      });

      // OpenSeaDragon.Annotorious config
      const config = {
          allowEmpty:false,
          gigapixelMode:true,
          widgets: [
              'COMMENT'
          ]
      };

      //register the viewer and the configuration to Annotorious
      var anno = OpenSeadragon.Annotorious(viewer, config);

      //register Better Polygon
      Annotorious.BetterPolygon(anno);

      //Add Selector Pack
      Annotorious.SelectorPack(anno);

      //add a toolbar to the openseadragon viewer
      Annotorious.Toolbar(anno, document.getElementById('annotorious-toolbar'));

      // The followings are the update function of coordinate tracing element
      var updateZoom = function() {
          var zoom = viewer.viewport.getZoom(true);
          var imageZoom = viewer.viewport.viewportToImageZoom(zoom);

          zoomEl.innerHTML = 'Zoom:' + (Math.round(zoom * 100) / 100) +
              ' Image Zoom:' + (Math.round(imageZoom * 100) / 100);
      }

      viewer.addHandler('open', function() {

          var tracker = new OpenSeadragon.MouseTracker({
              element: viewer.container,
              moveHandler: function(event) {
                  var webPoint = event.position;
                  var viewportPoint = viewer.viewport.pointFromPixel(webPoint);
                  var imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint);
                  var zoom = viewer.viewport.getZoom(true);
                  var imageZoom = viewer.viewport.viewportToImageZoom(zoom);

                  positionEl.innerHTML = 'Web:' + webPoint.toString() +
                      ' Viewport:' + viewportPoint.toString() +
                      ' Image:' + imagePoint.toString();

                  updateZoom();
              }
          });

          tracker.setTracking(true);

          viewer.addHandler('animation', updateZoom);
      });
      
      var django_csrf_token = '{{ csrf_token }}'; 
      // this is an attempt outputting the polygon format
      anno.on('createAnnotation', function(annotation) {
          $.ajax({
              url:"", 
              method:"POST",
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              data: JSON.stringify({'contour': annotation}),
              datatype: 'json'
          }).done(function(annotation){
            console.log(annotation)
        });
      });
  </script>
</body>
</html>
