{% extends 'annotations/base.html' %}

{% block header %}
<title>Image List - AAAP</title>
{% endblock %}

{% block content %}
  {% if image_list %}
    <!-- the title part -->
    <div id='title' class='title'>
      <h1>Image List</h1>
      <div id='login-widget' class='login-widget'>
      {% if user.is_authenticated %}
         <p>Welcome, {{ user.get_username }}.</p>
         <a href="{% url 'annotations:logout' %}">[logout]</a>
      {% else %}
        <p>Welcome, new user.</p>
        <a href="{% url 'annotations:login' %}" >[login]</a>
        <a href="{% url 'annotations:registration' %}" >[register]</a>
      {% endif %}
      </div>
      <button class="openbutton" onclick="openNav()">&#9776; Menu</button>
    </div>

    <!-- the body part -->
    <div id='body' class='body'>

      <table>
        <tr>
          <th>Image Name</th>
          <th>Group</th>
          <th>Submitter</th>
          <th>Submission Time</th>
          <th>Translated</th>
        </tr>
        <!-- Each individual image will take a line -->
        {% for image in image_list %}
          <tr>
            <!-- image name will link to the OpenSeadragon page -->
            <td>
            {% if image.translated %}
               <a href="{% url 'annotations:image-views' image.id %}">{{ image.image_name }}
               </a>
            {% else %}
               <a>{{image.image_name}}</a>
            {% endif %}
            <!-- TBF: the group page -->
            <td><a> {{ image.group }} </a></td>
            <!-- TBF: the user page -->
            <td><a> {{ image.submit_user }}</a></td>
            <!-- TBF: a fliter(?) w.r.t. the date-->
            <td><a> {{ image.submission_date }}</a></td>
            <!-- the indicator that the image is translatted or not -->
            <td><p> {{ image.translated|yesno:"✔,✘" }} </p></td>
           </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <div id='title' class = "title">
      <h1>No images are available.</h1>
    </div>
  {% endif %}
  </div>
{% endblock %}
