{% extends 'annotations/base.html' %}

{% block header %}
<title>Image Group: {{image_group.group_name}} - AAAP</title>
{% endblock %}

{% block content %}
    <!-- the title part -->
    <div id='title' class='title'>
      <h1>Image Group: {{image_group.group_name}}</h1>
      <div id='login-widget' class='login-widget'>
      {% if user.is_authenticated %}
         <p>Welcome, {{ user.get_username }}.</p>
         <a href="{% url 'annotations:logout' %}">[logout]</a>
      {% else %}
        <p>Welcome, new user.</p>
        <a href="{% url 'annotations:login' %}" >[login]</a>
        <a href="{% url 'annotations:registration' %}" >[register]</a>
      {% endif %}
      </div>
      <button class="openbutton" onclick="openNav()">&#9776; Menu</button>
    </div>

    <!-- the body part -->
    <div id='body' class='body'>
      <div class="Introduction">
        <p>{{image_group.group_description}}</p>
      </div>
      <table>
        <tr>
          <th><p>Image ID</p></th>
          <th><p>Image Name</p></th>
          <th><p>Submitter</p></th>
          <th><p>Submission Time</p></th>
          <th><p>Translated</p></th>
        </tr>
        <!-- Each individual image will take a line -->
        {% for image in image_list %}
          <tr>
            <td><p>{{image.pk}}</p></td>
            <!-- image name will link to the OpenSeadragon page -->
            <td>
            {% if image.translated %}
               <a href="{% url 'annotations:image-views' image.id %}">
                 {{ image.image_name }}
               </a>
            {% else %}
               <p>{{image.image_name}}</p>
            {% endif %}
            </td>
            <!-- TBF: the user page -->
            <td><a href="{% url 'annotations:profile-others' image.submit_user.id %}">
              {{ image.submit_user }}
            </a></td>
            <!-- TBF: a fliter(?) w.r.t. the date-->
            <td><p> {{ image.submission_date }}</p></td>
            <!-- the indicator that the image is translatted or not -->
            <td><p> {{ image.translated|yesno:"✔,✘" }} </p></td>
           </tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}
