<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Image List - AAAP</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'annotations/style.css' %}">
  </head>
<body>
  {% if image_list %}
    <!-- the title part -->
    <div class='title'>
      <h1>Image List</h1>
    </div>
    <!-- the body part -->
    <div class='body_background'>
      <table>
        <tr>
          <th>Image Name</th>
          <th>Group</th>
          <th>Submitter</th>
          <th>Submission Time</th>
          <th>Translated</th>
        </tr>
        <!-- Each individual image will take a line -->
        {% for image in image_list %}
          <tr>
            <!-- image name will link to the OpenSeadragon page -->
            <td>
            {% if image.translated %}
               <a href="{% url 'annotations:image-views' image.id %}">{{ image.image_name }}
               </a>
            {% else %}
               <a>{{image.image_name}}</a>
            {% endif %}
            <!-- TBF: the group page -->
            <td><a> {{ image.group }} </a></td>
            <!-- TBF: the user page -->
            <td><a> {{ image.submit_user }}</a></td>
            <!-- TBF: a fliter(?) w.r.t. the date-->
            <td><a> {{ image.submission_date }}</a></td>
            <!-- the indicator that the image is translatted or not -->
            <td><p> {{ image.translated|yesno:"✔,✘" }} </p></td>
           </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <div class = "title">
      <h1>No images are available.</h1>
    </div>
  {% endif %}
</body>
</html>
