<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Uploading Success- AAAP</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'annotations/style.css' %}">
  </head>
<body>
  <div class='title'>
    <h1>New Image Uploading</h1>
  </div>
  <div class="body_background">
    <div class="Introduction">
      <p>You have successfully uploaded the image</p>
      <a class='return' href="{% url 'annotations:image-list' %}">Return to image list</a>
    </div>
  </div>
</body>
