{% extends 'annotations/base.html' %}
{% load static %}
{% block header %}
    <title>Imageview: {{image_name}} - AAAP</title>
    <!-- OpenSeaDragon Annotorious css -->
    <link rel="stylesheet" href="{% static 'annotations/annotorious.min.css' %}">
    <!-- OpenSeaDragon -->
    <script src="{% static 'annotations/openseadragon/openseadragon.min.js' %}"></script>
    <!-- OpenSeaDragon Annotorious JS -->
    <script src="{% static 'annotations/openseadragon-annotorious.min.js' %}"></script>
    <!-- Annotorious Toolbar Plugin -->
    <script src="{% static 'annotations/annotorious-toolbar.min.js' %}"></script>
    <!-- Annotorious Better Polygon Plugin -->
    <script src="{% static 'annotations/annotorious-better-polygon.js'%}"></script>
    <!-- Annotorious Selector Pack plugin -->
    <script src="{% static 'annotations/annotorious-selector-pack.min.js'%}"></script>
    <!-- jQuery-->
    <script src="{% static 'annotations/jquery.min.js'%}"></script>
{% endblock %}

{% block content %}

  <div id='title' class='title'>
    <h1>Imageview: {{image_name}}</h1>
    <div id='login-widget' class='login-widget'>
    {% if user.is_authenticated %}
       <p>Welcome, {{ user.get_username }}.</p>
       <a href="{% url 'annotations:logout' %}">[logout]</a>
    {% else %}
      <p>Welcome, new user.</p>
      <a href="{% url 'annotations:login' %}" >[login]</a>
      <a href="{% url 'annotations:registration' %}" >[register]</a>
    {% endif %}
    </div>
    <button class="openbutton" onclick="openNav()">&#9776; Menu</button>
  </div>
  <!-- this div is used for debugging, meanwhile tracking the mouse-->
  <div id='body' class='body'>
  <div id="annotorious-toolbar"></div>
  <!-- the div openseadragon-div will take over the whole page -->
  <div id="openseadragon-div"></div>
  </div>

  <!-- scripts -->

  <script type="text/javascript">

      // Main OpenSeaDragon viewer
      var viewer = OpenSeadragon({
          id: "openseadragon-div",
          showNavigator:  true,
          prefixUrl: "{% static 'annotations/openseadragon/images/' %}",
          //this tileSources is only for debugging mode -- to be corrected
          tileSources:[ "{{filepath}}{{image_path}}"]
      });

      // OpenSeaDragon.Annotorious config
      const config = {
          allowEmpty:false,
          gigapixelMode:true,
          widgets: [
              'COMMENT',
              {
                widget: 'TAG',
                vocabulary: [
                'Glomerulus',
                'Tubules',
                'Arteries',
                'Interstitium',
                'Undecided'
                ]
              }
          ]
      };

      //register the viewer and the configuration to Annotorious
      var anno = OpenSeadragon.Annotorious(viewer, config);
      //register Better Polygon
      Annotorious.BetterPolygon(anno);
      //Add Selector Pack
      Annotorious.SelectorPack(anno);
      //add a toolbar to the openseadragon viewer
      Annotorious.Toolbar(anno, document.getElementById('annotorious-toolbar'));
      // When a GET request loading the page, load all the annotations on this Image
      anno.setAnnotations({{ annotation_set|safe }});

      function paint_annotation(w3c_id, anno_class, COLOR_MAP){
        // select the g object with the corresponding w3c_id
        var g_parent = document.body.querySelector('.a9s-annotation[data-id="'+ w3c_id +'"]');
        // find it's children (2 svg objects)
        var outer = g_parent.getElementsByClassName("a9s-outer")[0];
        var inner = g_parent.getElementsByClassName("a9s-inner")[0];
        // calculate the color
        var color = COLOR_MAP[anno_class];
        // change the color into the color needed
        outer.style.stroke = color;
        inner.style.stroke = color;
        inner.style.fill = color;
      };
      function get_tag(text){
        return text.purpose == "tagging";
      };
      function get_class(annotation){
        var body = annotation.body.filter(get_tag);
        return body.value;
      };
      // Paint the annotations with different colors
      for ([w3c_id, anno_class] of Object.entries({{annotation_class|safe}})) {
        paint_annotation(w3c_id=w3c_id, anno_class=anno_class, COLOR_MAP={{COLOR_MAP|safe}});
      };

      // this crsf token is for the POST requests
      var django_csrf_token = '{{ csrf_token }}';
      // this is an attempt outputting the polygon format
      anno.on('createAnnotation', function(annotation) {
          $.ajax({
              url:"",
              method:"POST",
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              data: JSON.stringify({
                'action': "create_annotation",
                'annotation': annotation
              }),
              datatype: 'json'
          }).done(function(annotation){
            console.log(annotation)
        });
        paint_annotation(
          w3c_id=annotation.id,
          anno_class=get_class(annotation),
          COLOR_MAP={{COLOR_MAP|safe}}
        );
      });

      // this is an attempt deleting the polygon format
      anno.on('deleteAnnotation', function(annotation) {
          $.ajax({
              url:"",
              method:"POST",
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              data: JSON.stringify({
                'action': "delete_annotation",
                'annotation': annotation.id
              }),
              datatype: 'json'
          }).done(function(annotation){
            console.log(annotation)
        });
      });

      // this is an attempt deleting the polygon format
      anno.on('updateAnnotation', function(annotation, previous) {
          $.ajax({
              url:"",
              method:"POST",
              headers: {'X-CSRFToken': '{{ csrf_token }}'},
              data: JSON.stringify({
                'action': "update_annotation",
                'previous': previous.id,
                'annotation': annotation
              }),
              datatype: 'json'
          }).done(function(annotation){
            console.log(annotation)
          });
          paint_annotation(
            w3c_id=annotation.id,
            anno_class=get_class(annotation),
            COLOR_MAP={{COLOR_MAP|safe}}
          );
      });
  </script>
{% endblock %}
