{% extends 'annotations/base.html' %}

{% block header %}
<title>Profile:{{ user.username }} - AAAP</title>
{% endblock %}

{% block content %}
    <!-- the title part -->
    <div id='title' class='title'>
      <h1>Profile:{{ user.username }}</h1>
      <div id='login-widget' class='login-widget'>
      {% if user.is_authenticated %}
         <p>Welcome, {{ user.get_username }}.</p>
         <a href="{% url 'annotations:logout' %}">[logout]</a>
      {% else %}
        <p>Welcome, new user.</p>
        <a href="{% url 'annotations:login' %}" >[login]</a>
        <a href="{% url 'annotations:registration' %}" >[register]</a>
      {% endif %}
      </div>
      <button class="openbutton" onclick="openNav()">&#9776; Menu</button>
    </div>

    <!-- the body part -->
    <div id='body' class='body'>
      <table>
        <tr>
          <td><p>Username</p><td>
          <td><p>{{ user.username }}</p><td>
        </tr>
        <tr>
          <td><p>First Name</p><td>
          <td><p>{{ user.first_name }}</p><td>
        </tr>
        <tr>
          <td><p>Last Name</p><td>
          <td><p>{{ user.last_name }}</p><td>
        </tr>
        <tr>
          <td><p>UNI</p><td>
          <td><p>{{ user.UNI }}</p><td>
        </tr>
        <tr>
          <td><p>Email</p><td>
          <td><p>{{ user.email }}</p><td>
        </tr>
        <tr>
          <td><p>Organization</p><td>
          <td><a href="{% url 'annotations:organization-view-others' user.organizations.id %}">
            {{ user.organizations }}
          <a><td>
        </tr>
        <tr>
          <td><p>Date of Registration</p><td>
          <td><p>{{ user.register_date }}</p><td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}
