{% extends 'annotations/base.html' %}

{% block content %}
  <div id='title' class='title'>
    <h1>New User registration</h1>
    <button class="openbutton" onclick="openNav()">&#9776; Menu</button>
  </div>
  <div id='body' class='body'>
    <div class="Introduction">
      <p>You have successfully registered in the roster</p>
      <a class='return' href="{% url 'annotations:image-list' %}">Return to image list</a>
      <a href="{% url 'annotations:login' %}" >Login</a>
    </div>
  </div>
{% endblock %}
