{% extends 'annotations/base.html' %}

{% block content %}
  <div id='title' class='title'>
    <h1>New User registration</h1>
    <button class="openbutton" onclick="openNav()">&#9776; Menu</button>
  </div>
  <div id='body' class='body'>
    <div class="Introduction">
      <p>Welcome to AAAP! Please fill the following information for a registration.</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
